/*<meta conditions="General.ImportFromGBL" fileTags="OHCGlobal.GBL" />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

NOTE: Generally, this stylesheet has elements listed out in the order that they appear in the topic from top to bottom. The exception are General styles which are at the top and the stylesheet mediums which are at the bottom.

EXAMPLE: Since the search-bar is at the top of the topic page, it will be listed closer to the top of this stylesheet.
===========================================================================================================================================================*/

/*==Topic General Styles==*/

body
{
	color: #404040;
	line-height: 1.7em;
	background-color: #fff;
	font-family: Arial;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #ce0058;
}

a.MCBreadcrumbsLink:hover
{
	color: #a40769;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: Arial;
	color: #073460;
}

h2
{
	font-weight: normal;
	font-size: 1.3em;
	color: #073460;
	padding-top: 20px;
	margin-bottom: 10px;
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
}

h4
{
	
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

img.thumbnail
{
	mc-thumbnail: popup;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-style: italic;
	font-size: 1em;
	mc-breadcrumbs-prefix: 'Vous êtes ici : ';
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #7469b9;
}

MadCap|dropDownHotspot
{
	color: #7469b9;
}

MadCap|dropDownBody
{
	border-bottom: 1px solid #d3d3d3;
}

MadCap|dropDown	/*Change the "mc-open-image" and "mc-closed-image" properties to change the icons used in drop-downs*/
{
	mc-open-image: url('../Images/Assets/Icons/Arrows/arrow-down-gray.png');
	mc-closed-image: url('../Images/Assets/Icons/Arrows/arrow-right-gray.png');
	margin-top: 10px;
}

/*==Master Page Topic Layout==*/

nav.title-bar	/*Adds bottom border on top navigation bar*/
{
	/*border-bottom: 1px solid #d3d3d3;*/
}

div.top-bar	/*Contains the breadcrumbs and toolbar*/
{
	border-bottom: 1px solid #d3d3d3;
	min-height: 50px;
	/*Min-height is necessary for topics that are not included in a TOC*/
}

div.search-container
{
	padding-bottom: 20px;
}

/*==Elements for the left side of Master Page layout==*/

div.side-menu	/*This is the div that the menu proxy is contained in*/
{
	padding-left: 10px;
	margin-top: 15px;
}

div.side-content	/*This is the div for the side-content containing "Search Tips" and the "Contact Support" button*/
{
	padding-top: 10px;
}

MadCap|dropDownHead.side-content	/*Font properties for the "Search Tips" drop-down head */
{
	font-size: 1.1em;
	font-weight: bold;
}

div.cta	/*Call to action button/Contact Support button*/
{
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	padding: 2px 0px;
	border: 1px solid #7469b9;
	width: 162px;
	color: #7469b9;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	margin-top: 20px;
}

div.cta:hover	/*When hovering over the CTA button the following properties will apply*/
{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transform: scale(1.01);
}

a.cta:link
{
	color: #FFF;
	text-decoration: none;
}

a.cta:visited
{
	color: #FFF;
	text-decoration: none;
}

div.topic-layout	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.topic-layout::before
{
	content: ' ';
	display: table;
}

div.topic-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.topic-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.topic-layout > div:nth-child(1)	/*Menu Proxy container*/
{
	width: 25%;
	margin-left: 0%;
	border-right: 1px solid #d3d3d3;
}

div.topic-layout > div:nth-child(2)
{
	width: 73%;
	margin-left: 2%;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1150px)
{
	div.topic-layout > div:nth-child(1)
	{
		display: none;
	}

	div.topic-layout > div:nth-child(2)
	{
		width: 98%;
		margin-left: 2%;
	}
}

@media only screen and (max-width: 767px)
{
	div.top-bar
	{
		min-height: 0;
	}

	div.topic-layout > div:nth-child(1)
	{
		display: none;
	}

	div.topic-layout > div:nth-child(2)
	{
		width: 98%;
		margin-left: 2%;
	}
}

img.SAGE_screenshot
{
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 150px;
	mc-thumbnail-max-height: 100px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}

h1.HelpTopics
{
	background-repeat: no-repeat;
	margin-bottom: 10px;
	background-origin: border-box;
	padding-left: 40px;
	background-size: auto 32px;
	background-image: url('../Images/Assets/Icons/Sage/blue_sxa.svg');
}

h1.LegacySXT
{
	background-repeat: no-repeat;
	margin-bottom: 10px;
	background-origin: border-box;
	padding-left: 40px;
	background-size: auto 32px;
	background-image: url('../Images/Assets/Icons/Sage/blue_sxt.svg');
}

h1.PDF
{
	background-repeat: no-repeat;
	margin-bottom: 10px;
	background-origin: border-box;
	padding-left: 40px;
	background-size: auto 32px;
	background-image: url('../Images/Assets/Icons/Sage/blue_pdf.svg');
}

h1.FAQ
{
	background-repeat: no-repeat;
	margin-bottom: 10px;
	background-origin: border-box;
	padding-left: 40px;
	background-size: 32px auto;
	background-image: url('../Images/Assets/Icons/Sage/blue_faq.svg');
}

h1.NewFeatures
{
	background-repeat: no-repeat;
	margin-bottom: 10px;
	background-origin: border-box;
	padding-left: 40px;
	background-size: 32px auto;
	background-image: url('../Images/Assets/Icons/Sage/blue_newfeatures.svg');
}

h2.NewFeatures
{
	font-weight: normal;
	font-size: 1.3em;
	color: #073460;
	padding-top: 20px;
	margin-bottom: 10px;
}

div.NewFeature
{
	margin: 0 auto;
	width: 90%;
	padding: 10px;
	border: dotted 2px #8AB7C2;
	margin-bottom: 10px;
}

p.NewFeaturesIntro
{
	background: #8AB7C2;
	color: #ffffff;
	padding: 10px;
}

p.IndentPuceNiv1
{
	margin-left: 40px;
}

p.IndentPuceNiv1SautLigne
{
	margin-left: 40px;
}

li.PuceNumNiv2
{
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 50px;
}

MadCap|dropDownHead
{
	
}

MadCap|dropDown.Niv2
{
	mc-open-image: url('../../B_HelpTopics/Images/Assets/Icons/Arrows/arrow-down-gray.png');
	mc-closed-image: url('../../B_HelpTopics/Images/Assets/Icons/Arrows/arrow-right-gray.png');
	margin-top: 10px;
}

div.Indent40px
{
	margin-left: 40px;
}

